.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  h1 {
	text-align: center;
  }
  
  .mat-sidenav {
	padding-top: 20px;
	max-width: 600px;
  }
  
  .mat-list-item {
	padding: 10px 60px;
  }
  
  .mat-toolbar {
	position: fixed;
  }
  
  .example-table-container {
	max-width: 1000px;
	margin: 30px auto;
	margin-top: 90px;
  }
  
  .mat-cell {
	padding-right: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  